@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Articulat';
  src: url('/assets/fonts/ArticulatCF-Medium.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Articulat';
  src: url('/assets/fonts/ArticulatCF-Normal.otf');
  font-weight: 500;
}

:root {
  --dark-background: #000000;
  --dark-background-02: #1D1D1D;
  --light-opacity: rgba(255, 255, 255, 0.50);
}

body {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  font-family: 'Articulat', helvetica, arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
