.main {
  background-color: var(--dark-background);
  width: 100%;
  min-height: calc(100vh - 80px);
  flex-grow: 1;
}

.container {
  padding: 3rem;
}

.searchSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .searchSection {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.pageTitle {
  font-size: 2rem;
  font-weight: 600;
}

.titleSpan {
  margin-top: 0.75rem;
  color: var(--light-opacity);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.75rem, 1fr));
  grid-gap: 2.125rem;
  margin-top: 2.5rem;
  justify-items: center;
}